<div class="table">
  <table>
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Login</th>
      <th>Password</th>
      <th>Type</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of usersService.users | keyvalue">
      <td class="text__center">
        <div *ngFor="let k of item.value | keyvalue">
          {{ k.value.nameFirst | titlecase}}
        </div>
      </td>
      <td class="text__center">
        <div *ngFor="let k of item.value | keyvalue">
          {{ k.value.nameLast | titlecase}}
        </div>
      </td>
      <td class="text__center">
        <div *ngFor="let k of item.value | keyvalue">
          {{ k.value.login }}
        </div>
      </td>
      <td class="text__center">
        <div *ngFor="let k of item.value | keyvalue">
          {{ k.value.password }}
        </div>
      </td>
      <td class="text__center">
        <div *ngFor="let k of item.value | keyvalue">
          {{ k.value.type }}
        </div>
      </td>
      <td class="text__center">
        <i class="fas fa-trash-alt btn-delete" (click)="modalWindowService.showModalConfirm(item.key)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<div class="modal" id="modal__window__confirm">
  <div class="modal__dialog">
    <h4>Delete user {{ modalWindowService.item }} ?</h4>
    <button (click)="remove(modalWindowService.item)">Yes</button>
    <button class="modal__close" type="button" (click)="modalWindowService.closeConfirm()">
      <img src="./assets/images/modal-close.svg" alt="Close">
    </button>
  </div>
</div>
