<app-selector></app-selector>

<div class="table">
  <table>

    <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wen</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let week of calendar">
      <td *ngFor="let day of week.days" (click)="select(day.value)" [class.disabled]="day.disabled" [class.selected]="day.selected" [class.active]="day.active">
        {{ day.value | moment: 'DD' }}
      </td>
    </tr>
    </tbody>

  </table>
</div>



<div class="modal" id="modal__window">
  <div class="modal__dialog">
    <h4>Нельзя записывать на прошедшую дату !</h4>
    <button class="modal__close" type="button" (click)="modalWindowService.close()">Close</button>
  </div>
</div>
