<div class="box__inner">

  <div class="form__group">

    <div class="form__item">
      <label for="position">Position</label>
      <input id="position" type="text" placeholder="Position" required minlength="3" appOnlyWords="true" (keydown.enter)="addPosition()" [(ngModel)]="position" #pos='ngModel'>
      <div class="alert" [hidden]="pos.valid || pos.pristine">Поле 'Position' должно иметь не менее 3х символов</div>
    </div>

    <button (click)="addPosition()" [disabled]="pos.invalid">Add</button>

    <ul class="list__positions" *ngIf="positionsService.positions.length !== 0">
      <li *ngFor="let pos of positionsService.positions">
        <span>{{ pos }}</span><i class="fas fa-trash-alt btn-delete" (click)="removePosition(pos)"></i>
      </li>
    </ul>

  </div>

</div>


<div class="modal" id="modal__window">
  <div class="modal__dialog">
    <h4 *ngIf="checkPosition">Должность добавлена</h4>
    <h4 *ngIf="!checkPosition" style="color: '#ff6438'">Такая должность уже есть</h4>
    <button class="modal__close" type="button" (click)="modalWindowService.close()">
      <img src="./assets/images/modal-close.svg" alt="Close">
    </button>
  </div>
</div>
