p {
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

span {
  margin: 0 2rem;
  width: 300px;

  text-align: center;
}

i {
  cursor: pointer;
}
