<div class="box__inner">

  <div class="form__group">

    <div class="form__item">
      <label for="type">Type</label>
      <select name="type" id="type" required (keydown.enter)="createNewUser()" [(ngModel)]="type" #userType='ngModel'>
        <option *ngFor="let t of typeUsers">
          {{ t }}
        </option>
      </select>
    </div>

    <div class="form__item">
      <label for="nameFirst">First name</label>
      <input id="nameFirst" type="text" placeholder="First Name" required minlength="3" appOnlyWords="true" (keydown.enter)="createNewUser()" [(ngModel)]="nameFirst" #userNameFirst='ngModel'>
      <div class="alert" [hidden]="userNameFirst.valid || userNameFirst.pristine">Field 'First Name' must have more than 3 characters</div>
    </div>

    <div class="form__item">
      <label for="nameLast">Last Name</label>
      <input id="nameLast" type="text" placeholder="Last Name" required minlength="3" appOnlyWords="true" (keydown.enter)="createNewUser()" [(ngModel)]="nameLast" #userNameLast='ngModel'>
      <div class="alert" [hidden]="userNameLast.valid || userNameLast.pristine">Field 'Last Name' must have more than 3 characters</div>
    </div>

    <div class="form__item">
      <label for="login">Login</label>
      <input id="login" type="text" placeholder="Login" required minlength="3" (keydown.enter)="createNewUser()" [(ngModel)]="login" #userLogin='ngModel'>
      <div class="alert" [hidden]="userLogin.valid || userLogin.pristine">Field 'Login' must have more than 3 characters</div>
    </div>

    <div class="form__item">
      <label for="password">Password</label>
      <input id="password" type="text" placeholder="Password" required (keydown.enter)="createNewUser()" [(ngModel)]="password" #userPassword='ngModel'>
      <div class="alert" [hidden]="userPassword.valid || userPassword.pristine">Field 'Password' should not be empty</div>
    </div>

    <button (click)="createNewUser(); modalWindowService.focus($event, btnClose)" [disabled]="userLogin.invalid || userPassword.invalid || userNameFirst.invalid || userNameLast.invalid || userType.invalid">Add</button>

  </div>

</div>


<div class="modal" id="modal__window">
  <div class="modal__dialog">
    <h4 *ngIf="checkUser">User created</h4>
    <h4 *ngIf="!checkUser" style="color: '#ff6438'">This user already exists</h4>
    <button class="modal__close" type="button" (click)="modalWindowService.close()" (keydown.escape)="modalWindowService.close()" #btnClose>
      <img src="./assets/images/modal-close.svg" alt="Close">
    </button>
  </div>
</div>
