<div class="box__inner">

  <div class="form__group">

    <div class="form__item">
      <label for="firstName">First name</label>
      <input class="text" id="firstName" type="text" placeholder="First name" required minlength="3" appOnlyWords="true" (keydown.enter)="addNewDoctor(firstName, patronymic, lastName, position)" [(ngModel)]="firstName" #firstN='ngModel'>
      <div class="alert" [hidden]="firstN.valid || firstN.pristine">Field 'First name' must have more than 3 characters</div>
    </div>

    <div class="form__item">
      <label for="patronymic">Patronymic</label>
      <input class="text" id="patronymic" type="text" placeholder="Patronymic" required minlength="3" appOnlyWords="true" (keydown.enter)="addNewDoctor(firstName, patronymic, lastName, position)" [(ngModel)]="patronymic" #patr='ngModel'>
      <div class="alert" [hidden]="patr.valid || patr.pristine">Field 'Patronymic' must have more than 3 characters</div>
    </div>

    <div class="form__item">
      <label for="lastName">Last name</label>
      <input class="text" id="lastName" type="text" placeholder="Last name" required minlength="3" appOnlyWords="true" (keydown.enter)="addNewDoctor(firstName, patronymic, lastName, position)" [(ngModel)]="lastName" #lastN='ngModel'>
      <div class="alert" [hidden]="lastN.valid || lastN.pristine">Field 'Last name' must have more than 3 characters</div>
    </div>

    <div class="form__item">
      <label>Position</label>
      <select name="position" required (keydown.enter)="addNewDoctor(firstName, patronymic, lastName, position)" [(ngModel)]="position" #posit='ngModel'>
        <option *ngFor="let pos of positionsService.positions" [value]="pos">
          {{ pos }}
        </option>
      </select>
      <div class="alert" [hidden]="posit.valid || posit.pristine ">You must choose a 'Position'</div>
    </div>

    <button (click)="addNewDoctor(firstName, patronymic, lastName, position); modalWindowService.focus($event, btnClose)" [disabled]="firstN.invalid || patr.invalid || lastN.invalid || posit.invalid">Add</button>

  </div>

</div>


<div class="modal" id="modal__window">
  <div class="modal__dialog">
    <h4 *ngIf="checkDoc">Doctor added</h4>
    <h4 *ngIf="!checkDoc" style="color: '#ff6438'">This doctor already exists</h4>
    <button class="modal__close" type="button" (click)="modalWindowService.close()" (keydown.escape)="modalWindowService.close()" #btnClose>
      <img src="./assets/images/modal-close.svg" alt="Close">
    </button>
  </div>
</div>

